<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293431016307-g3jpjnhjcffn4i6sc4rdit6h2qfrueqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293431016307-g3jpjnhjcffn4i6sc4rdit6h2qfrueqs</string>
	<key>API_KEY</key>
	<string>AIzaSyBClr2iKQ_CJ9D30uZzUkcYq412gQRUaSs</string>
	<key>GCM_SENDER_ID</key>
	<string>293431016307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nearme.degula</string>
	<key>PROJECT_ID</key>
	<string>degula-nearme</string>
	<key>STORAGE_BUCKET</key>
	<string>degula-nearme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293431016307:ios:065c1553a9570eb27ce306</string>
	<key>DATABASE_URL</key>
	<string>https://degula-nearme.firebaseio.com</string>
</dict>
</plist>