<md-content class="main-content" ng-controller="NotificationCtrl">
    <div layout="row" layout-xs="column" layout-sm="column" layout-padding>
        <div flex>

            <form name="form" novalidate>

                <md-radio-group ng-change="onChangeType()"
                    ng-model="notification.type">
                    <md-radio-button class="inline-block margin-right" value="Geo">
                    {{ 'GEO' | translate }}
                    </md-radio-button>
                    <md-radio-button class="inline-block margin-right" value="All">
                    {{ 'ALL' | translate }}
                    </md-radio-button>
                </md-radio-group>

                <div layout="row">
                    <md-input-container flex>
                        <label>{{ 'ADDRESS' | translate }}</label>
                        <input type="text" name="address" placeholder
                            ng-model="notification.address"
                            ng-disabled="notification.type === 'All'"
                            ng-model-options="{ debounce: 400 }" ng-change="onAddressChanged()">
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex>
                        <label>{{ 'LATITUDE' | translate }}</label>
                        <input type="number" name="latitude" placeholder
                        ng-change="onInputLocationChanged()"
                        ng-required="notification.type === 'Geo'"
                        ng-disabled="notification.type === 'All'"
                        ng-model-options="{debounce:600}"
                        ng-model="notification.latitude">
                    </md-input-container>
                     <md-input-container flex>
                        <label>{{ 'LONGITUDE' | translate }}</label>
                        <input type="number" name="longitude" placeholder
                        ng-change="onInputLocationChanged()"
                        ng-required="notification.type === 'Geo'"
                        ng-disabled="notification.type === 'All'"
                        ng-model-options="{debounce:600}"
                        ng-model="notification.longitude">
                    </md-input-container>
                    <md-input-container flex>
                        <label>{{ 'DISTANCE' | translate }}</label>
                        <input type="number" min="0" placeholder
                          ng-required="notification.type === 'Geo'"
                          ng-disabled="notification.type === 'All'"
                          ng-model="notification.radius" />
                    </md-input-container>
                </div>

                <div class="margin-vertical">
                    <ng-map class="map map-page-notifications" zoom="2"
                    center="[0,0]" scrollwheel="false"
                    street-view-control="false" map-type-control="false">
                        <shape id="circle" name="circle"
                        ng-show="canShowCircle()"
                        on-dragend="onShapeDragEnd()"
                        stroke-color="#FF0000"
                        stroke-opacity="0.8"
                        stroke-weight="2"
                        fill-color="#FF0000"
                        fill-opacity="0.35"
                        draggable="true"
                        editable="true"
                        centered="true"
                        center="{{coords}}"
                        radius="{{notification.radius * 1000}}">
                    </ng-map>
                </div>

                <br/>

                <div layout="row">
                    <md-input-container flex>
                        <label>{{ 'MESSAGE' | translate }}</label>
                        <textarea required placeholder ng-model="notification.message" md-maxlength="150" rows="3"></textarea>
                        <div ng-messages="form.message.$error">
                            <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary"
                      ng-disabled="!form.$valid"
                      ng-click="onSubmit(form.$valid)">
                        {{ !isSending ? ('SEND' | translate) : ('SENDING' | translate) }}
                    </md-button>
                </div>

            </form>

        </div>
        <div flex>
            <md-list class="scrollable" flex>
                <md-subheader class="md-sticky">
                  {{ 'LATEST_NOTIFICATIONS' | translate }}
                </md-subheader>
                <md-list-item class="md-2-line"
                  ng-repeat="notification in notifications track by notification.id">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ notification.message }}</h3>
                        <p>{{ notification.createdAt | date:'mediumDate' }}</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </section>

</md-content>