<md-content class="main-content" ng-controller="SliderImageCtrl">

    <md-table-toolbar>
        <div layout="row" layout-align="center center" class="padding">
            <span flex></span>
            <md-button class="md-primary md-raised"
                md-colors="::{ color: 'white' }"    
                aria-label="New"
                ng-click="onEdit($event)">
                {{ 'CREATE' | translate }}
            </md-button>
        </div>
    </md-table-toolbar>
   
    <md-table-container>
        <table md-table md-progress="promise">
            <thead md-head md-on-reorder="onReorder">
                <tr md-row>
                    <th md-column></th>
                    <th md-column class="text-center text-uppercase bold">
                    {{ 'SORT' | translate }}
                    </th>
                    <th md-column class="text-center text-uppercase bold">
                    {{ 'PLACE' | translate }}
                    </th>
                    <th md-column class="text-center text-uppercase bold">
                    {{ 'URL' | translate }}
                    </th>
                    <th md-column class="text-center text-uppercase bold">
                    {{ 'STATUS' | translate }}
                    </th>
                    <th md-column></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="slider in sliderImages">
                    <td md-cell>
                      <img width="80"
                        ng-src="/images/placeholder.png"
                        actual-src="{{:: slider.image.url() }}" />
                    </td>
                    <td md-cell class="text-center">{{:: slider.sort }}</td> 
                    <td md-cell class="text-center">{{:: slider.place.title }}</td>
                    <td md-cell class="text-center">{{:: slider.url }}</td>
                    <td md-cell class="text-center">
                        <span class="label"
						  ng-class="::{ 'green': slider.isActive,
						  'yellow': !slider.isActive }">
							<span ng-if="slider.isActive">{{ 'ACTIVE' | translate }}</span>
							<span ng-if="!slider.isActive">{{ 'INACTIVE' | translate }}</span>
						</span>
                    </td>
                    <td md-cell>
                        <section layout="row" layout-align="center center">
							<md-button class="md-icon-button md-primary"
                              ng-click="onEdit($event, slider)" aria-label="Edit">
								<ng-md-icon icon="mode_edit"></ng-md-icon>
							</md-button>
							<md-button class="md-icon-button md-primary"
                              ng-click="onDelete($event, slider)" aria-label="Delete">
								<ng-md-icon icon="clear"></ng-md-icon>
							</md-button>
						</section>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
      md-limit-options="rowOptions"
      md-limit="query.limit"
      md-page="query.page"
      md-total="{{query.total}}"
      md-on-paginate="onPaginationChange"
      md-label="{ rowsPerPage: '{{ 'ROWS_PER_PAGE' | translate }}', of: '{{ 'OF' | translate }}' }">
    </md-table-pagination>

</md-content>