<ion-header>
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar mode="ios" debounce="600" [placeholder]="'ENTER_ADDRESS' | translate"
      (ionInput)="onSearchAddress($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce
  [attr.style]="ionContentStylePadding">
  <ion-grid no-padding fixed *ngIf="suggestions.length" slot="fixed">
    <ion-list lines="none" class="shadow" [@staggerIn]="suggestions.length">
      <ion-item class="hover" button detail="false" *ngFor="let suggestion of suggestions" (click)="onSuggestionTouched(suggestion)">
        <ion-label>
          <ion-text color="dark">
            <span class="link bold text-medium">
              {{ suggestion.description }}
            </span>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>

  <ion-grid class="fullscreen" no-padding fixed>
    <ion-row class="fullscreen" justify-content-center>
      <ion-col class="fullscreen hide-xs-up show-lg-up" size="6">

        <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_NETWORK' | translate">
        </empty-view>

        <empty-view *ngIf="isEmptyViewVisible" icon="map" [text]="'EMPTY_PLACES' | translate">
        </empty-view>

        <div class="flex-center" *ngIf="isLoadingViewVisible">
          <ion-spinner></ion-spinner>
        </div>

        <ion-list class="scroll" [@staggerIn]="places.length" *ngIf="places.length">
          <ion-item button lines="none" detail="false" *ngFor="let place of places"
            (mouseenter)="onPlaceHover(place)"
            [routerLink]="['../' + place.id + '/' + place.slug]">
            <ion-thumbnail slot="start">
              <img [src]="place.imageThumb?.url()" src-fallback="./assets/img/placeholder.png" />
            </ion-thumbnail>
            <ion-label>
              <ion-text color="dark">
                <h2 class="bold no-margin ellipsis link">
                  {{ place.title }}
                </h2>
              </ion-text>
              <ion-text color="medium">
                <p class="bold no-margin">
                  {{ place.category.title }}
                </p>
              </ion-text>
              <star-rating [value]="place.rating" checkedcolor="#f2b01e"  
                uncheckedcolor="gray" size="16px" readonly="true">
              </star-rating>
            </ion-label>

            <div slot="end">
              <ion-text color="primary">
                <span class="bold">
                  {{ place.distance(location, unit) }}
                </span>
              </ion-text>
            </div>
          </ion-item>

        </ion-list>
      </ion-col>
      <ion-col size-xs="12" size-lg="6">
        <div #map class="map"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-bottom-drawer class="hide-lg-up" [(state)]="bottomDrawerConfig.state" (click)="onBottomDrawerTouched()"
  [minimumHeight]="bottomDrawerConfig.minimumHeight"
  [dockedHeight]="bottomDrawerConfig.dockedHeight" [shouldBounce]="bottomDrawerConfig.shouldBounce"
  [distanceTop]="bottomDrawerConfig.distanceTop" [disableDrag]="bottomDrawerConfig.disableDrag" [transition]="bottomDrawerConfig.transition">
  <ion-toolbar slot="fixed">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="drawer-content">
    <ion-list>
      <ion-item button lines="none" detail="false" *ngFor="let place of places" (click)="showInfoWindow(place, $event)">
        <ion-thumbnail slot="start">
          <img [src]="place.imageThumb?.url()" src-fallback="./assets/img/placeholder.png" />
        </ion-thumbnail>
        <ion-label>
          <ion-text color="dark">
            <h2 class="bold no-margin ellipsis link">
              {{ place.title }}
            </h2>
          </ion-text>
          <ion-text color="medium">
            <p class="bold no-margin">
              {{ place.category.title }}
            </p>
          </ion-text>
          <star-rating [value]="place.rating" checkedcolor="#f2b01e" 
            uncheckedcolor="gray" size="16px" readonly="true">
            </star-rating>
        </ion-label>

        <div slot="end">
          <ion-text color="primary">
            <span class="bold">
              {{ place.distance(location, unit) }}
            </span>
          </ion-text>
        </div>
      </ion-item>

    </ion-list>
  </div>
</ion-bottom-drawer>