<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="onDismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'ADD_REVIEW' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <star-rating class="space-around" [value]="review.rating" checkedcolor="#f2b01e" uncheckedcolor="gray" size="48px" readonly="false"
      (rate)="onRatingChange($event)">
    </star-rating>
    <ion-item margin-vertical lines="none" class="radius" color="light">
      <ion-textarea [(ngModel)]="review.comment" rows="8" [placeholder]="'COMMENT' | translate" (keyup.enter)="onSubmit()"></ion-textarea>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div text-center>
      <ion-button shape="round" color="secondary"
        [disabled]="isLoadingViewVisible"
        (click)="onSubmit()">
        <ion-spinner *ngIf="isLoadingViewVisible"></ion-spinner>
        <span *ngIf="!isLoadingViewVisible">{{ 'SUBMIT' | translate }}</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>