<md-dialog flex="100" flex-gt-xs="60" aria-label="Post dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-show="obj.isNew()">{{ 'NEW' | translate }}</h2>
            <h2 ng-show="!obj.isNew()">{{ 'EDIT' | translate }}</h2>
            <span flex></span>
            <ng-md-icon icon="close" class="icon-close"
              ng-click="onCancel()" aria-label="Close dialog">
            </ng-md-icon>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-card-content>

                <form name="form" novalidate>

                    <div layout="row">
                        <md-input-container flex>
                            <label>{{ 'POST_TITLE' | translate }}</label>
                            <input required name="title" ng-model="obj.title" placeholder>
                            <div ng-messages="form.title.$error">
                                <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container flex>
                            <label>{{ 'CONTENT' | translate }}</label>
                            <textarea required name="body" ng-model="obj.body" rows="2" placeholder></textarea>
                            <div ng-messages="form.body.$error">
                                <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container flex>
                            <label>{{ 'HTML_CONTENT' | translate }}</label>
                            <textarea required name="htmlBody" ng-model="obj.htmlBody" rows="5" placeholder ui-tinymce="tinymceOptions"></textarea>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container flex>
                            <label>{{ 'STATUS' | translate }}</label>
                            <md-select name="status" required placeholder ng-model="obj.status">
                                <md-option value="Pending">{{ 'PENDING' | translate }}</md-option>
                                <md-option value="Active">{{ 'ACTIVE' | translate }}</md-option>
                            </md-select>
                            <div ng-messages="form.status.$error">
                                <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container flex>
                        <label>{{ 'PLACE' | translate }}</label>
                        <md-autocomplete flex md-no-float placeholder
                            md-clear-button="false"
                            md-input-name="place"
                            md-min-length="3"
                            md-delay="1000"
                            md-no-cache="true"
                            md-selected-item="obj.place"
                            md-search-text="searchText"
                            md-items="place in queryPlaces(searchText)"
                            md-item-text="place.title"
                            md-require-match>
                            <md-item-template>
                            <span md-highlight-text="searchText">{{ place.title }}</span>
                            </md-item-template>
                            <md-not-found>
                            No matches found.
                            </md-not-found>
                            <div ng-messages="form.item.$error">
                              <div ng-message="md-require-match">
                                  Please select an existing place.
                              </div>
                            </div>
                        </md-autocomplete>
                    </md-input-container>

                    <div layout="row" layout-align="start">
                        <md-input-container md-no-float class="md-block" flex="70">
                            <label>{{ 'UPLOAD_PICTURE' | translate }}</label>
                            <input type="text" value="{{ obj.image.name() }}" disabled>
                        </md-input-container>

                        <div layout="column" layout-align="start center" flex="30">
                            <ng-md-icon icon="photo_camera" class="photo-camera" ng-class="{ 'icon-active': obj.image.url() }">
                            </ng-md-icon>
                            <md-button type="button" class="md-raised md-mini" ngf-select="uploadImage($file)" ngf-pattern="'image/*'">
                                {{ 'BROWSE' | translate }}
                            </md-button>
                            <md-progress-circular class="md-primary" md-diameter="30" ng-if="isUploading">
                            </md-progress-circular>
                        </div>
                    </div>

                </form>

            </md-card-content>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-primary" ng-click="onCancel()">
            {{ 'CLOSE' | translate }}
        </md-button>
        <md-button class="md-raised md-primary"
          ng-disabled="!form.$valid || isSaving"
          ng-click="onSubmit(form.$valid)">
            {{ !isSaving ? ('SAVE' | translate) : ('SAVING' | translate) }}
        </md-button>
    </md-dialog-actions>
</md-dialog>